.wrapper {
    padding: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "content content"
    "footer footer"
    ;
    justify-self: auto;
    background: fixed rgb(255, 255, 255);
    border: solid black 0.2em;
    border-radius: 15px;
}
.pagejump {
    position: fixed;
    background: fixed rgb(48, 90, 138);
    border: solid 0.2em rgb(71, 128, 194);
    border-radius: 15px;
    bottom: 35px;
    right: 15px;
    padding: 28px 15px;
    margin: auto;
    display: block;
}
.footer {
    grid-area: footer;
    background-color: aquamarine;
    border-radius: 0px 0px 15px 15px;
}
.header {
    grid-area: header;
    border-radius: 15px 15px 0px 0px;
    background-color: blueviolet;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
    "pict text"
    ;
}
.content {
    grid-area: content;
    background-color: coral;
    padding: 10px;
    justify-content: space-evenly;
}
.sidebar {
    display: inline-flex;
    justify-content: space-evenly;
    grid-area: sidebar;
    position: fixed;
    bottom: 0px;
    right: 0;
    background: fixed black;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}
.sidebox {
    position: fixed;
}
